html,
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: #301934;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  overflow: hidden;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

h1 {
  color: #fdfdff;
  font: italic 2.5rem 'Lobster Two', cursive;
  margin: auto;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}

ul {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  color: #fdfdff;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: .25rem;
}

form > div label {
  color: #fdfdff;
  margin-bottom: .25rem;
}

form input,
form textarea {
  padding: .25rem;
}

form input,
form textarea,
form button[type=submit] {
  background: none;
  border: 2px solid #fdfdff;
  color: #fdfdff;
}

form button[type=submit] {
  margin: auto;
  padding: .25rem .5rem;
}

form button[type=submit]:hover {
  background: #fdfdff;
  color: #301934;
  cursor: pointer;
}

form textarea {
  margin-bottom: .5rem;
  min-height: 4rem;
  resize: vertical;
}
