@font-face {
  font-family: 'Lobster Two';
  src: url("../fonts/LobsterTwo-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Port Lligat Slab';
  src: url("../fonts/PortLligatSlab-Regular.ttf") format("truetype");
}

:root {
  --dark-purple: #301934;
  --off-white: #fdfdff;
  --steel-teal: #62929e;
  --silver: #c6c5b9;
  --dark-electric-blue: #546a7b;
  --shadow: rgba(0, 0, 0, .5);
  --font-lobster: 'Lobster Two', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", cursive;
  --font-port-lligat-slab: 'Port Lligat Slab', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  background-color: var(--dark-purple);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  overflow: hidden;
}

h1 {
  color: var(--off-white);
  font: italic xxx-large var(--font-lobster);
  margin: auto;
  text-align: center;
  text-shadow: 0 1px 1px var(--shadow);
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 1rem;
}

ul {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  color: var(--off-white);
  font: larger var(--font-port-lligat-slab);
  text-decoration: none;
  text-shadow: 0 1px 1px var(--shadow);
}
