@font-face {
  font-family: 'Lobster Two';
  src: url("../fonts/LobsterTwo-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Port Lligat Slab';
  src: url("../fonts/PortLligatSlab-Regular.ttf") format("truetype");
}

body {
  background-color: #301934;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  overflow: hidden;
}

h1 {
  color: #fdfdff;
  font: italic 2rem 'Lobster Two', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", cursive;
  margin: auto;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 1rem;
}

ul {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  color: #fdfdff;
  font: 1rem 'Port Lligat Slab', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}
